In [1]:
def adder(x=0,y=0):
    print(x+y)

adder(5,2)
adder()

7
0

In [2]:
def adder(x=0,y=0):
    print('From Function :',x+y)

result = adder(5,2)
print(result)

From Function : 7
None

In [5]:
def adder(x=0,y=0):
    return  x+y

result = adder(5,2)
print(result)

7

In [4]:
def adder(x=0,y=0):
    print('START')
    return  x+y
    print('END')

result = adder(5,2)
print(result)

START
7

In [2]:
mylist = ['a' , 'a' , 'b' , 'c' , 'd' , 'e' , 'e']

def get_count(l):
    print(name)
    countDict = {}
    for letter in l:
       countDict[letter] = countDict.get(letter,0)+1
    return countDict

name = 'clado'
result = get_count(mylist)
#print(countDict)
print(result)

clado
{'a': 2, 'b': 1, 'c': 1, 'd': 1, 'e': 2}

In [4]:
d = {'a': 2, 'b': 1, 'c': 1, 'd': 1, 'e': 2}
keys = d.keys()
values = d.values()
print(keys)
print(values)

dict_keys(['a', 'b', 'c', 'd', 'e'])
dict_values([2, 1, 1, 1, 2])

In [16]:
d = {'a': 2, 'b': 1, 'c': 1, 'd': 1, 'e': 2}
keys = d.keys()
values = d.values()
print(list(keys))
print(list(values))

['a', 'b', 'c', 'd', 'e']
[2, 1, 1, 1, 2]

In [17]:
d = {'a': 2, 'b': 1, 'c': 1, 'd': 1, 'e': 2}
i = d.items()
print(i)

dict_items([('a', 2), ('b', 1), ('c', 1), ('d', 1), ('e', 2)])

In [18]:
d = {'a': [2,20] , 'b': [1,10], 'c': [1,100] , 'd': [4,400] , 'e': [2,20]}
i = d.items()
print(i)

dict_items([('a', [2, 20]), ('b', [1, 10]), ('c', [1, 100]), ('d', [4, 400]), ('e', [2, 20])])

In [5]:
names = "clado axe    stallman".split()
print('names :',names)

names : ['clado', 'axe', 'stallman']

In [6]:
result = sorted(names,key=len)
print(result)

['axe', 'clado', 'stallman']

In [8]:
names = "clado axe cat robin alex richard stallman".split()
print('names :',names)

names : ['clado', 'axe', 'cat', 'robin', 'alex', 'richard', 'stallman']

In [9]:

def get_last_char(s):
    return s[-1]

result = sorted(names,key=get_last_char)
print(result)

['richard', 'axe', 'robin', 'stallman', 'clado', 'cat', 'alex']

In [30]:
ranks = [ ('a', 21) , ('b', 11) , ('c', 14) , ('d', 12) , ('e', 29) ] 

def get_rank(t):
    return t[1]

result = sorted(ranks,key=get_rank)
print(result)

[('b', 11), ('d', 12), ('c', 14), ('a', 21), ('e', 29)]

In [10]:

dob = "1956-11-23 1976-10-15 1930-9-25 1920-3-3".split()
print(dob)

['1956-11-23', '1976-10-15', '1930-9-25', '1920-3-3']

In [12]:
def get_date(s):
    return int(s.split('-')[-1])
result = sorted(dob,key=get_date)
print(result)

['1920-3-3', '1976-10-15', '1956-11-23', '1930-9-25']

In [19]:
dob =  [ ['1976-10-15','xen'] , ['1976-11-23','ben'], ['1930-9-25','alex'] ]

def get_year(l):
    return l[0]

result = sorted(dob,key=get_year)
print(result)
#print(result[0][-1])

[['1930-9-25', 'alex'], ['1976-10-15', 'xen'], ['1976-11-23', 'ben']]

In [20]:
sorted(['1001','110','101'],reverse=True , key=int)

['1001', '110', '101']

In [40]:
students = {
    '101':{
        'name':'alex',
        'age':34,
        'rank':12
    },
    
    '102':{
        'name':'james',
        'age':35,
        'rank':9
    },
    
    '103':{
        'name':'sam',
        'age':24,
        'rank':24
    },
    
    '104':{
        'name':'richard',
        'age':32,
        'rank':27
    }
}

def get_rank(d):
    return d['rank']
dict_value = students.values()
print(list(dict_value))
result = sorted(students.values(),key=get_rank)
print()
print(result[0]['name'])

[{'name': 'alex', 'age': 34, 'rank': 12}, {'name': 'james', 'age': 35, 'rank': 9}, {'name': 'sam', 'age': 24, 'rank': 24}, {'name': 'richard', 'age': 32, 'rank': 27}]

james

In [46]:
students = {
    '101':{
        'name':'alex',
        'age':34,
        'rank':12
    },
    
    '102':{
        'name':'james',
        'age':35,
        'rank':9
    },
    
    '103':{
        'name':'sam',
        'age':24,
        'rank':24
    },
    
    '104':{
        'name':'richard',
        'age':32,
        'rank':27
    }
}

def get_name_len(d):
    return len(d['name'])

result = sorted(students.values(),key=get_name_len)
print(result[-1]['name'])

richard

In [49]:
l = ['clado','axe','rayan']

def make_upper(s):
    return s.upper()

result = map(make_upper,l)
print(result)


for item in result:
    print(item)

<map object at 0x10bf7a860>

'\nfor item in result:\n    print(item)\n'

In [50]:
students = {
    '101':{
        'name':'alex',
        'age':34,
        'rank':12
    },
    
    '102':{
        'name':'james',
        'age':35,
        'rank':9
    },
    
    '103':{
        'name':'sam',
        'age':24,
        'rank':24
    },
    
    '104':{
        'name':'richard',
        'age':32,
        'rank':27
    }
}

def get_name(d):
    return d['name']

for item in map(get_name,students.values()):
    print(item)

alex
james
sam
richard

In [54]:
students = {
    '101':{
        'name':'alex',
        'age':34,
        'rank':12
    },
    
    '102':{
        'name':'james',
        'age':35,
        'rank':9
    },
    
    '103':{
        'name':'sam',
        'age':24,
        'rank':24
    },
    
    '104':{
        'name':'richard',
        'age':32,
        'rank':27
    }
}
'''
students = {
    
    'alex':{
        'name':'alex',
        'age':34,
        'rank':12
    },
    
    'james':{
        'name':'james',
        'age':35,
        'rank':9
    },
    
    'sam':{
        'name':'sam',
        'age':24,
        'rank':24
    },
    
    'richard':{
        'name':'richard',
        'age':32,
        'rank':27
    }
}
'''
result = { d['name']:d for d in students.values() }

import pprint
pprint.pprint(result)

{'alex': {'age': 34, 'name': 'alex', 'rank': 12},
 'james': {'age': 35, 'name': 'james', 'rank': 9},
 'richard': {'age': 32, 'name': 'richard', 'rank': 27},
 'sam': {'age': 24, 'name': 'sam', 'rank': 24}}